.context-menu {
	position: absolute;
	width: 100%;
	max-width: 200px;
	margin: 0;
	padding: 1%;
	box-sizing: border-box;
	list-style: none;
	background: #000;
	border-radius: 5px;
	border: 1px solid;
	z-index: 1;

	&__menu-item {
		width: 100%;
		padding: 1% 5%;
		box-sizing: border-box;
		border-radius: 5px;
		background: #000;

		&:hover {
			cursor: pointer;
			background: #1adf0042;
		}
	}
}
